ansible==2.3.2.0

awscli==1.11.131
pywinrm==0.2.2
dopy==0.3.7
pysphere==0.1.7
python-consul==0.7.1
f5-sdk==2.3.3
bigsuds==1.0.6
netaddr==0.7.19
boto==2.48.0
azure==2.0.0
cs==1.1.1
docker-py==1.10.6
docker-compose==1.15.0
apache-libcloud==2.1.0
shade==1.22.2
pyvmomi==6.5.0.2017.5.post1
datadog==0.16.0
zabbix-api==0.4

cfconfigurator>=0.2.4
bosh_inventory>=0.2.2

gitpython
